.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#home {
  margin: 50px;
}

nav {
  display: flex;
  flex-direction: row;
}

section {
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
}

.content img,
.content video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 12px 10px 20px #316afc;
}

.spacer {
  height: 1px;
}

.topic {
  font-size: 60px;
  color: #5283ff;
  width: fit-content;
  margin: auto;
}

.topic h1 {
  font-size: 40px;
}

.profile-pic img {
  border-radius: 50%;
  border-style: groove;
  border-width: 5px;
  background-clip: border-box;
  border-color: transparent;
  background-image: repeating-linear-gradient(rgb(136, 2, 156), rgb(0, 81, 255) 10%, rgb(136, 2, 156));
}

.wip {
  margin-bottom: 1em;
  transition: transform 1s;
  z-index: 0;
}

.wip img,
.wip video {
  border-radius: 20px;
}

.wip:hover {
  z-index: 1;
  transform: scale(1.5) rotateZ(5deg);
}

.description,
.item-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  overflow: hidden;
  text-size-adjust: inherit;
  z-index: 0;
  opacity: 1;
  transition: height 1s, opacity 3s, width 1s;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
  width: 30%;
  height: 80px;
  margin: auto;
}

.toolRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1em;
  height: 50px;
}

.description p,
.item-description p {
  text-align: left;
  font-size: medium;
  text-indent: 10%;
  margin: 0;
}

.language:hover .description,
.software:hover .description,
.tool:hover .description {
  display: flex;
  height: 500px;
  opacity: 1;
}

.language,
.software,
.tool {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 300px;
  width: 375px;
  margin: 2%;
  align-items: center;
  transition: height 1s, opacity 3s;
  opacity: 0;
  --animation-order: 0;
}

.language.show,
.software.show,
.tool.show {
  animation: slide-down 2s ease calc(var(--animation-order) * 300ms) forwards;
}

.image img {
  height: 100px;
  margin: 20px;
}

.detail-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 110%;
  border-radius: 25px;
  background-color: rgba(38, 20, 109, 0.5);
  box-shadow: inset 0px 0px 7px 7px #180340;
}

@keyframes slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.detail-block:hover {
  background-color: rgba(38, 20, 109, 1);
  scale: 1.1;
}

.detail {
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin: 7%;
}

.l-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.description {
  height: 0;
}

.car.show {
  transform: translateX(0);
  opacity: 1;
}

.empty {
  visibility: hidden;
}

.job {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  align-items: center;
}

.skill {
  margin: 1%;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  nav {
    font-size: larger;
  }

  .about-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .about-description {
    text-align: left;
  }

  .profile-pic {
    width: 50%;
    max-height: 400px;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 300px;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 5%;
    transform: translateX(300px);
    opacity: 0;
    transition: ease-in-out transform 1s, ease opacity 2s
  }

  .item.show {
    transform: translateX(0);
    opacity: 1;
  }

  .item-left {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    height: 500px;
    justify-content: space-evenly;
    padding: 2%;
    margin: 5%;
  }

  .item-description {
    width: 75%;
    margin: auto;
    padding: 0 3em;
    row-gap: 2em;
  }

  .masonry {
    column-count: 4;
    column-gap: 1em;
    margin: 5%;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  nav {
    font-size: large;
  }

  .about-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-description {
    text-align: left;
  }

  .profile-pic {
    width: 50%;
  }

  .item-description {
    width: 75%;
  }

  .item {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 500px;
    justify-content: space-evenly;
    /* border: medium groove blue;
    border-radius: 50px; */
  }

  .item-left {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    height: 500px;
    justify-content: space-evenly;
    padding: 2%;
    /* border: medium groove blue;
    border-radius: 50px; */
  }

  .masonry {
    column-count: 3;
    column-gap: 1em;
    margin: 5%;
  }

  .row {
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    font-size: small;
  }

  p {
    font-size: medium;
  }

  .about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-description {
    text-align: left;
    margin: auto 5%;
  }

  .profile-pic {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  .item-description {
    height: 500px;
  }

  .item,
  .item-left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    max-height: 100%;
    align-items: center;
    transition: height 1s, opacity 3s;
  }

  .item-description p {
    max-width: 100%;
    text-align: center;
    font-size: medium;
    margin-top: 5%;
    text-indent: 10%;
  }

  .masonry {
    column-count: 2;
    column-gap: 1em;
    margin: 5%;
  }

  .row {
    height: 40px;
  }
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}