body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: dark;
  text-align: center;
  color: #6587aa;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 11px;
}

header {
  height: 10px;
}

img, video {
  max-width: 100%;
  max-height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

li {
  display: block;
}

body {
  background-image: linear-gradient(#0e031c 40%,#1b0b2c 100%);
}

h1 {
  color: #345fec;
}

h2 {
  color: #304ca8;
}

p {
  color: #294dc4;
  margin: auto;
  max-width: 500px;
  font-size: large;
  line-height: 150%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  font-family: "Courier New", Courier, monospace;
}

nav {
  position: sticky;
  top: 0;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

nav a.router-link-exact-active {
  color: #294dc4;
}